<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ site:name }} - {{ title }}</title>

        {{ vite src="resources/css/tailwind.css|resources/js/site.js" }}

        {{ livewire:styles }}

        <meta name="theme-color" content="#ffffff">
        <meta name="color-scheme" content="light">

        {{  partial src="theme" }}
    </head>
    <body class="flex h-full flex-col bg-zinc-50 dark:bg-black font-sans">
        <div class="fixed inset-0 flex justify-center sm:px-8">
            <div class="flex w-full max-w-7xl lg:px-8">
                <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
            </div>
        </div>
        {{ partial src="header" }}
        {{ template_content }}
        {{  partial src="footer" }}
    </body>

    {{ livewire:scripts }}
</html>
