<header x-data="{ open: false }" @click.away="open = false" class="pointer-events-none relative z-50 flex flex-col">
    <div class="top-0 z-10 h-16 pt-6">
        <div class="sm:px-8 w-full">
            <div class="mx-auto max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="relative flex gap-4">
                            <div class="flex flex-1">
                                <div class="h-10 w-10 rounded-full bg-violet-500 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10 hover:shadow-lg">
                                    <a title="Home page" aria-label="Home" class="pointer-events-auto" href="/">
                                        <img alt="{{ site.name }}" class="rounded-full bg-violet-100 object-cover dark:bg-zinc-800 h-9 w-9 hover:scale-125 transition" width="642" height="643" src="{{ header.logo.url }}">
                                    </a>
                                </div>
                            </div>
                            <div class="flex flex-1 justify-end">
                                <div class="pointer-events-auto md:hidden">
                                    <button x-on:click.prevent="open = ! open" class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-md font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20" type="button" aria-expanded="false">
                                        Menu
                                        <svg viewBox="0 0 8 6" aria-hidden="true" class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400">
                                            <path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                    <div x-show="open" style="display: none;">
                                        <div class="fixed inset-0 z-50 bg-zinc-800/40 backdrop-blur-sm dark:bg-black/80 opacity-100" id="headlessui-popover-overlay-:r0:" aria-hidden="true"></div>
                                        <div class="fixed inset-x-4 top-8 z-50 origin-top rounded-3xl bg-white p-8 ring-1 ring-zinc-900/5 dark:bg-zinc-900 dark:ring-zinc-800 opacity-100 scale-100" id="headlessui-popover-panel-:Rqb6H1:" tabindex="-1">
                                            <div class="flex flex-row-reverse items-center justify-between">
                                                <button x-on:click.prevent="open = false" aria-label="Close menu" class="-m-1 p-1" type="button" tabindex="0">
                                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 text-zinc-500 dark:text-zinc-400">
                                                        <path d="m17.25 6.75-10.5 10.5M6.75 6.75l10.5 10.5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </button>
                                                <h2 class="text-lg font-medium text-zinc-600 dark:text-zinc-400">
                                                    Navigation
                                                </h2>
                                            </div>
                                            <nav class="mt-6">
                                                <ul class="-my-2 divide-y divide-zinc-100 text-lg text-zinc-800 dark:divide-zinc-100/5 dark:text-zinc-300">
                                                    {{ nav:navigation }}
                                                        <li>
                                                            <a class="block py-2" href="{{ url }}">
                                                                {{ title }}
                                                            </a>
                                                        </li>
                                                    {{ /nav:navigation }}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <nav class="pointer-events-auto hidden md:block">
                                    <ul class="flex rounded-full bg-white/90 px-3 text-md font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
                                       {{ nav:navigation }}
                                            <li>
                                                <a class="relative block px-3 py-2 transition hover:text-violet-500 dark:hover:text-violet-400 {{ if current_uri === url }} text-violet-500 dark:text-violet-400 {{ /if }}" href="{{ url }}">
                                                    {{ title }}
                                                </a>
                                            </li>
                                        {{ /nav:navigation }}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
