<li class="flex mt-4 first:mt-0">
    <a href="{{ url }}?utm_campaign=joelbutcher-website&amp;utm_source=joelbutcher&amp;utm_medium=textlink&amp;utm_term=social+share" class="group flex text-sm font-medium text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500"
       title="{{ text }}" aria-label="{{ text  }}" target="_blank" rel="noopener nofollow">
        <span class="sr-only">{{ text }}</span>
        {{ partial src="icons/{network}" }}
        <span class="ml-4">{{ text }}</span>
    </a>
</li>
