<div class="sm:px-8 mt-16 sm:mt-20">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <header class="max-w-2xl prose dark:prose-invert">
                    <h1 class="text-4xl font-bold  tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                        {{ page_title }}
                    </h1>

                    <div class="prose dark:prose-invert my-6">
                        {{ content }}
                    </div>
                </header>

                <div class="mt-16 sm:mt-20">
                    <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                        <div class="flex max-w-3xl flex-col space-y-16">
                            {{ collection:articles }}
                                {{ if no_results }}
                                    <p class="text-zinc-400 dark:text-zinc-500">No results</p>
                                {{ else }}
                                    {{ partial src="articles/card" }}
                                {{ /if }}
                            {{ /collection:articles }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
