<div class="sm:px-8 mt-16 sm:mt-20">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <header class="max-w-2xl">
                    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                        {{ intro }}
                    </h1>

                    <div class="text-lg prose dark:prose-invert my-6">
                        {{ content }}
                            {{ partial src="sets/{type}" }}
                        {{ /content }}
                    </div>
                </header>
                <div class="mt-16 sm:mt-20">
                    <div class="space-y-20">
                        <!-- SECTION Workstation -->
                        <section aria-labelledby=":r0:" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                            <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                                <h2 id=":r0:" class="text-lg font-semibold text-zinc-800 dark:text-zinc-200 capitalize">
                                    Workstation
                                </h2>
                                <div class="md:col-span-3">
                                    <ul role="list" class="space-y-16">
                                        {{ collection:uses as="entries" category:is="workstation" sort="order" }}
                                            {{ if no_results }}
                                                <li class="text-zinc-400 dark:text-zinc-500">No results</li>
                                            {{ else }}
                                                {{ entries }}
                                                    {{ partial src="uses-item" }}
                                                {{ /entries }}
                                            {{ /if }}
                                        {{ /collection:uses }}
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!-- END SECTION Workstation -->

                        <!-- SECTION Tooling -->
                        <section aria-labelledby=":r0:" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                            <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                                <h2 id=":r0:" class="text-lg font-semibold text-zinc-800 dark:text-zinc-200 capitalize">
                                    Tooling
                                </h2>
                                <div class="md:col-span-3">
                                    <ul role="list" class="space-y-16">
                                        {{ collection:uses as="entries" category:is="tooling" sort="order" }}
                                            {{ if no_results }}
                                                <li class="text-zinc-400 dark:text-zinc-500">No results</li>
                                            {{ else }}
                                                {{ entries }}
                                                    {{ partial src="uses-item" }}
                                                {{ /entries }}
                                            {{ /if }}
                                        {{ /collection:uses }}
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!-- END SECTION Tooling -->

                        <!-- SECTION Services -->
                        <section aria-labelledby=":r0:" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                            <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                                <h2 id=":r0:" class="text-lg font-semibold text-zinc-800 dark:text-zinc-200 capitalize">
                                    Services
                                </h2>
                                <div class="md:col-span-3">
                                    <ul role="list" class="space-y-16">
                                        {{ collection:uses as="entries" category:is="services" sort="order" }}
                                            {{ if no_results }}
                                                <li class="text-zinc-400 dark:text-zinc-500">No results</li>
                                            {{ else }}
                                                {{ entries }}
                                                    {{ partial src="uses-item" }}
                                                {{ /entries }}
                                            {{ /if }}
                                        {{ /collection:uses }}
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!-- END SECTION Services -->

                        <!-- SECTION Productivity -->
                        <section aria-labelledby=":r0:" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                            <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                                <h2 id=":r0:" class="text-lg font-semibold text-zinc-800 dark:text-zinc-200 capitalize">
                                    Productivity
                                </h2>
                                <div class="md:col-span-3">
                                    <ul role="list" class="space-y-16">
                                        {{ collection:uses as="entries" category:is="productivity" sort="order" }}
                                            {{ if no_results }}
                                                <li class="text-zinc-400 dark:text-zinc-500">No results</li>
                                            {{ else }}
                                                {{ entries }}
                                                    {{ partial src="uses-item" }}
                                                {{ /entries }}
                                            {{ /if }}
                                      {{ /collection:uses }}
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!-- END SECTION Productivity -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
